<h4>Registrar domicilio</h4>


                    <div class="col-md-6" >
                      <label for="cli_tipoDom" class="mb-1">Tipo de Domicilio:</label>
                      <select name="cli_tipoDom" id="cli_tipoDom" class="w-100 text-center form-control w-100 rounded-top rounded-bottom btn btn-primary dropdown-toggle">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                    </div>

                    <div class="form-group"> <input type="text" name="cli_calle" placeholder="Calle" class="form-control form-control-sm w-100 rounded-top rounded-bottom text-dark" id="cli_calle" value=""> </div>
                    <div class="form-group"> <input type="text" name="cli_numero" placeholder="Numero de Calle" class="form-control form-control-sm w-100 rounded-top rounded-bottom text-dark" id="cli_numero"> </div>
                    <div class="form-group"> <input type="text" name="cli_piso" placeholder="Piso" class="form-control form-control-sm w-100 rounded-top rounded-bottom text-dark" id="cli_calle" value=""> </div>
                    <div class="form-group"> <input type="text" name="cli_depto" placeholder="Departamento" class="form-control form-control-sm w-100 rounded-top rounded-bottom text-dark" id="cli_numero"> </div>
                    <div class="form-group"> <input type="text" name="cli_manzana" placeholder="Manzana" class="form-control form-control-sm w-100 rounded-top rounded-bottom text-dark" id="cli_calle" value=""> </div>
                    <div class="form-group"> <input type="text" name="cli_cp" placeholder="CP" class="form-control form-control-sm w-100 rounded-top rounded-bottom text-dark" id="cli_numero"> </div>
                    <div class="form-group"> <input type="text" name="cli_observacion" placeholder="Observacion" class="form-control form-control-sm w-100 rounded-top rounded-bottom text-dark" id="cli_calle" value=""> </div>
                    <div class="form-group"> <input type="text" name="cli_barrio" placeholder="Numero de Barrio" class="form-control form-control-sm w-100 rounded-top rounded-bottom text-dark" id="cli_numero"> </div>
                    
                    